button{
        
       position:fixed;
        bottom: 20px;
         right: 20px;
    }
    .image{
    width: 200px;
    height: 60px;
    background-image: url(images/click\ image\ 111.png);
    background-size: cover;

}

 @keyframes spin {
        0%{ transform: rotate(0deg);}
        100%{transform:rotate(360deg);}
 }

 @keyframes slideup{
 0% {transform: translateY(0);}
 50%{transform: translateY(-120vh);}
 100%{transform:translateY(0);}
 }

 @keyframes slideleft{
     0% {transform: translateX(0);}
 50%{transform: translateX(-120vw);}
 100%{transform:translateX(0);}
 }


.img1{
    width: 200px;
    height: 300px;
    position: absolute;
    right: 1500px;
    top:250px;
    animation:
    spin 10s linear infinite,
    slideup 6s ease-in-out infinite;
}


.img2{
    width: 200px;
    height: 300px;
    position: absolute;
    right: 100px;
    top: 300px;
    animation:
    spin 10s linear infinite,
     slideup 7s ease-in-out infinite;
}

.img3{
    width: 200px;
    height: 300px;
    position: absolute;
    right: 600px;
    top:400px;
   animation:
   spin 10s linear infinite,
   slideleft 6s ease-in-out infinite;
}


.img4{
    width: 200px;
    height: 300px;
    position: absolute;
    right: 100px;
    top: 600px;
     animation:
     spin 10s linear infinite,
     slideleft 7s ease-in-out infinite;
}

.img5{
    width: 200px;
    height: 300px;
    position: absolute;
    right: 100px;
    top:100px;
   animation:
   spin 10s linear infinite,
   slideleft 6s ease-in-out infinite;
}


.img6{
    width: 200px;
    height: 300px;
    position: absolute;
    right: 500px;
    top: 500px;
     animation:
     spin 10s linear infinite,
     slideup 6s ease-in-out infinite;
}


.img7{
    width: 200px;
    height: 300px;
    position: absolute;
    right: 800px;
    top:500px;
   animation:
   spin 7s linear infinite,
   slideup 7s ease-in-out infinite;
}



.img8{
    width: 200px;
    height: 300px;
    position: absolute;
    right: 700px;
    top: 100px;
     animation:
     spin 10s linear infinite,
     slideleft 5s ease-in-out infinite;
}


 body{
    background-color: rgb(208, 255, 0);
 }

 h1{
color: rgb(235, 60, 174);
font-size:50px;
font-family: 'Segoe UI', Tahoma;
white-space: nowrap;
text-align: center;
} 

p{
color: rgb(0, 0, 0);
font-size:50px;
font-family: 'Segoe UI', Tahoma;
white-space: nowrap;
}

 marquee {
    color:rgb(255, 19, 133);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 5px black;
 }
