body{
background-image: url(images/page\ 2.jpg);
background-size: cover;
width: 1000px;
height: 900px;
font-family: 'Times New Roman', Times, serif;
font-size: 50;

}

h1{
color: rgb(134, 13, 86);
font-size:75px;
font-family: 'Segoe UI', Tahoma,;


}
img{
    position:absolute;
    right: 1000px;
    top: 30px;

}


p{
    position:absolute;
    top:100px;
    left:500;
    color: rgb(0, 0, 0);
    font-size:75px;
    font-family: 'Segoe UI', Tahoma;
   
}
.img1{
    position: absolute;
    right: 700px;
    top: 400px;
    width: 400px;
    height: 400px;
    animation:spin 10s infinite linear;

   
    }

 @keyframes spin {
        0%{ transform: rotate(0deg);}
        100%{transform:rotate(360deg);}
 }

 marquee {
    color:rgb(95, 8, 10);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 5px black;
 }

 .img2{
    position: absolute;
    right: 1300px;
    top: 400px;
    width: 300px;
    height: 300px;
 }

.marquee-container{
width: 100%;
height: 150px;
 overflow:hidden;
 position:relative;
 padding:20px;
 margin:20px 0;
}
.marquee-content{

    position:absolute;
    width:1500px;
    white-space: nowrap;
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(133, 19, 82);
    animation: slideLeft 40s linear infinite;
}

@keyframes slideLeft{
0%{ left:100%;}
100%{ left:-100%;}

}

 button{
        
       position:fixed;
        bottom: 20px;
         right: 20px;
    }
    .image{
    width: 200px;
    height: 60px;
    background-image: url(images/click\ image\ 111.png);
    background-size: cover;
}
