
h1{
color: rgb(0, 0, 0);
font-size:50px;
font-family: 'Segoe UI', Tahoma;
text-align: center;
white-space: nowrap;
margin-right: 100px;
}


body{
background-image: url(images/skinny2.jpg);
background-size: cover;
width: 1500px;
height: 1100px;
}

button {
       position:fixed;
        bottom: 20px;
        right: 20px;
       
    }
.image{
    width: 200px;
    height: 60px;
    background-image: url(images/click\ image\ 111.png);
    background-size: cover;
}
img{
    width: 700px;
    height: 600px;
    position: absolute;
    right: 90px;
    top:300px;

}
p{
    color: rgb(red, green, blue),16,94;
    font-size: 30px;
    font-family: fantasy;
    text-align: center;
   margin: 100px 500px; 
   bottom: 300px; /* distance from bottom */ 
   left: 600px;  
   width:700px;
}

 marquee {
    color:rgb(82, 13, 14);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 5px black;
 }

 .marquee-container{
width: 100%;
height: 150px;
 overflow:hidden;
 position:relative;
 padding:20px;
 margin:20px 0;
}
.marquee-content{

    position:absolute;
    width:1500px;
    white-space: nowrap;
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(197, 18, 18);
    animation: slideLeft 40s linear infinite;
}

@keyframes slideLeft{
0%{ left:100%;}
100%{ left:-100%;}

}

a{
background-color:purple;
color:white;
padding:10px 20px;
text-decoration:none;
border-radius:5px;

}

a:hover{

background-color: pink;
}
