button{
         position:fixed;
        bottom: 20px;
         right: 20px;
    }
.image{
    width: 200px;
    height: 60px;
    background-image: url(images/click\ image\ 111.png);
    background-size: cover;
}

body{
background-image: url(images/twinpeaks.webp);
background-size: cover;
width: 1000px;
height: 900px;
font-family: 'Times New Roman', Times, serif;
font-size: 50;}

.img1{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 700px;
    top:250px;
     transform: rotate(5deg);

}

.img2{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 1000px;
    top: 300px;
     transform: rotate(-5deg);

}

.img3{
    width: 300px;
    height: 200px;
    position: absolute;
    right: 700px;
    top: 550px;
    transform: rotate(-15deg);

}
h1{
color: rgb(235, 60, 174);
font-size:50px;
font-family: 'Segoe UI', Tahoma;
text-align: center;
white-space: nowrap;
margin-right: 100px;
} 
p{
    color:palevioletred;
    font-size: 100px;
    font-family: fantasy;
   bottom: 300px; /* distance from bottom */ 
   left: 600px;  
   width:700px;
}
