button{
        
       position:fixed;
        bottom: 20px;
         right: 20px;
    }
    .image{
    width: 200px;
    height: 60px;
    background-image: url(images/click\ image\ 111.png);
    background-size: cover;
}


.animated-bg{
 position: fixed;
 top:0;
 left:0;
width:100vw;
height:100vh;
background-color: red;
background-size: cover;
z-index: -1;
animation: bgAnimation 10s linear infinite;

}

@keyframes bgAnimation {
  0%   {background-color:rgba(49, 4, 90, 0.68); background-position: 0 0;}
  25%  {background-color:rgb(166, 14, 62); background-position: 100px 0;}
  50%  {background-color:rgb(185, 80, 178);background-position: 100px 100px;}
  75%  {background-color:rgb(200, 143, 21); background-position: 0 100px;}
  100% {background-color:rgb(255, 36, 208); background-position:0 0 ;}
}

.repeat-text{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
overflow:hidden;
z-index:-1;
font-size: 3rem;
line-height: 1.5;
color: rgba(red, green, blue, alpha) (255,255,255,0.05);
white-space:pre;
overflow:hidden;

}